html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;
    color: #ffffff;

    margin: 0;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: lighter;
}

* {
    transition: all 0.45s ease;
}

main {
    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    justify-items: center;

    align-items: center;
}

#root {
    width: 40%;
    height: 95%;

    background-color: #ffffff;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    justify-items: center;

    align-items: center;

    margin: 0 auto;

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    font-weight: lighter;
}

#title {
    position: absolute;
    top: 4%;

    background-color: #b8d8ff;

    width: 15%;
    height: 7%;

    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    display: flex;

    align-items: center;
    justify-content: center;
}

#title h1 {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: lighter;
}

#title:hover {
    width: 18%;
}

#logs {
    width: 80%;
    height: 78%;

    background-color: #d3e7ff;
    border-radius: 12px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-collapse: collapse;

    overflow: scroll;
    overflow-x: hidden;
}

#logs li {
    display: flex;
    border-radius: 12px;

    align-items: center;
    justify-content: center;

    font-size: larger;

    width: 90%;
    height: 5%;

    background-color: #9dc8fc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    margin-top: 10px;
}

#logs li:hover {
    background-color: #6299dd;
}

#logs::-webkit-scrollbar {
    width: 6px;
}

#logs::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#logs::-webkit-scrollbar-thumb {
    background-color: #b2c4f8;
    border-radius: 6px;
}

#logs::-webkit-scrollbar-thumb:hover {
    background-color: #2556b3;
}